# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. TensorFlow
5. PyTorch

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Apache Zeppelin            |
| RStudio             |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science:
  - Python
  - R
  - SQL
  
- Explore essential libraries and frameworks:
  - NumPy
  - Pandas
  - Matplotlib
  - TensorFlow
  - PyTorch

- Data Science Tools
  - Jupyter Notebook
  - Apache Zeppelin
  - RStudio
  - Spyder

## Author - Rocio Altair